<h1>Comments</h1>
<!-- <ul>
    <li *ngFor="let comment of comments; let i=index">
    -{{comment.text}} by: {{comment.author}}
    <button class="button" (click)='editComment(i)'>Update Comment</button>
    <button class="button" (click)='removeComment(i)'>Delete Comment</button>
    </li>
</ul> -->
<app-list-comments></app-list-comments>

<!-- <h2>Enter a new comment, or update an existing comment with the form below!</h2>
<input type="text" [(ngModel)]="comment" placeholder="Enter Comment">
<input type="text" [(ngModel)]="author" placeholder="Author">
<br>
<button class="button" (click)='newCommentPost()'>Post Comment</button> -->
<app-new-comments></app-new-comments>
